<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-success">
    <div class="container-fluid">
      <%= link_to "タイトル", root_path, class: 'navbar-brand' %>

      <% if current_user %>
        <div class="collapse navbar-collapse justify-content-end">
          <ul class="navbar-nav">
            <%= link_to hotel_path(current_user.id), class: 'nav-link' do %>
              <i class="far fa-bookmark"></i> ブックマーク
            <% end %>
            <%= link_to edit_user_registration_path, class: 'nav-link' do %>
              <i class="fas fa-user"></i> プロフィール
            <% end %>
            <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'nav-link' %>
          </ul>
        </div>
      <% else %>
        <%= link_to "ログイン", new_user_session_path, class: 'nav-link link' %>
      <% end %>
    </div>
  </nav>
</header>